<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <base href="/">

  <title>Fantasy Board Games</title>

  <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/img/favicons/favicon.ico">
  <meta name="application-name" content="Fantasy Board Games">
  <meta name="theme-color" content="#c82027">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,600">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700">
  <link rel="stylesheet" href="libs/ngprogress/ngProgress.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app" ng-controller="MainCtrl">
  <header class="header">
    <div class="container grid__row grid__row--middle">
      <h1 class="grid__col header__title">
        <a href="/">Fantasy Board Games</a>
      </h1>

      <nav class="grid__col header__nav" auto-nav-active>
        <a ng-repeat="tab in nav" class="header__nav__item" href="/{{tab.path}}">
          {{tab.title}}
        </a>
      </nav>
    </div>
  </header>

  <main class="content">
    <div class="container" ng-view></div>
  </main>

  <footer class="footer">
    <div class="container">
      <a href="https://github.com/stephtanto/fantasy-sushi-go">Code on GitHub</a>
      <a href="/admin">Admin portal</a>
      <a ng-if="$root.loggedIn" ng-controller="LogoutCtrl" ng-click="logout()">Logout</a>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
  <script src="libs/ngprogress/build/ngprogress.min.js"></script>

  <script src="js/app.js"></script>

  <script src="js/services/AuthService.js"></script>
  <script src="js/services/GamesService.js"></script>
  <script src="js/services/MatchesService.js"></script>
  <script src="js/services/PlayersService.js"></script>
  <script src="js/services/StatsService.js"></script>
  <script src="js/services/UsersService.js"></script>

  <script src="js/controllers/AdminCtrl.js"></script>
  <script src="js/controllers/GamesCtrl.js"></script>
  <script src="js/controllers/MainCtrl.js"></script>
  <script src="js/controllers/PlayerDetailsCtrl.js"></script>
  <script src="js/controllers/PlayersCtrl.js"></script>
  <script src="js/controllers/UserCtrl.js"></script>
</body>
</html>
