<div class="panel">
    <h2 class="panel__title">Add Players</h2>

    <div class="panel__body">
        <form>
            <div class="form__group">
                <label for="name">Name</label>
                <input type="text" class="form__control" id="name" ng-model="player.name">
            </div>

            <div class="form__group">
                <label for="picture">Upload Picture</label>
                <button ng-click="click()" class="btn" id="picture">Choose File</button>
            </div>

            <button ng-if="formType == 'add'" type="submit" class="btn" ng-click="addPlayer()">Submit</button>
            <button ng-if="formType == 'edit'" type="submit" class="btn" ng-click="modifyPlayer()">Modify</button>
        </form>
    </div>
</div>

<div class="panel">
    <h2 class="panel__title">Add Game</h2>

    <div class="panel__body">
        <form>
            <div class="form__group">
                <label for="gameName">Name</label>
                <input type="text" class="form__control" id="gameName" ng-model="game.name">
            </div>

            <div class="form__group">
                <label for="game">Game</label>
                <select class="form__control" id="game" ng-model="game.game">
                    <option ng-repeat="game in games" value="{{game}}">{{game}}</option>
                </select>
            </div>

            <div class="form__group">
                <h3>Player Information</h3>

                <button type="button" class="btn btn--small" ng-click="addPlayerToGame()">Add</button>

                <table class="table table--striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Ranking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gplayer in game.players">
                            <td>
                                <select class="form__control" ng-model="gplayer.name">
                                    <option ng-repeat="p in players" value="{{p.name}}">{{p.name}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form__control" placeholder="Points" ng-model="gplayer.points">
                            </td>
                            <td>
                                <input type="number" class="form__control" placeholder="Ranking" ng-model="gplayer.ranking">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button ng-if="formType == 'add'" type="submit" class="btn" ng-click="">Submit</button>
            <button ng-if="formType == 'edit'" type="submit" class="btn" ng-click="">Modify</button>
        </form>
    </div>
</div>


<div class="panel">
    <h2 class="panel__title">Current Players</h2>

    <div class="panel__body">
        <table class="table table--striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>Modify/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | orderBy:'name'">
                    <td>
                        {{player.name}}
                    </td>
                    <td>
                        <!-- <img style='display:block; width:100px;height:100px;' id='base64image' src="{{player.img}}"> -->
                    </td>
                    <td>
                        <button type="button" class="btn btn--small" ng-click="addStats(player)">Player Statitics</button>
                        <button type="button" class="btn btn--small" ng-click="modifyPlayer(player)">Edit</button>
                        <button type="button" class="btn btn--small" ng-click="deletePlayer(player)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
