<div class="jumbotron text-center">
    <h1>Admin Center</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Players</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="player.name">
            </div>
            <div class="form-group">
                <label for="picture">Upload Picture</label>
               <div>
                    <button ng-click='click()' id="picture">Choose File</button>
                </div>
            </div>

            <button ng-if="formType == 'add'" type="submit" class="btn btn-default" ng-click="addPlayer()">Submit</button>
            <button ng-if="formType == 'edit'" type="submit" class="btn btn-default" ng-click="modifyPlayer()">Modify</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Game</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="gameName">Name</label>
                <input type="text" class="form-control" id="gameName" placeholder="Name" ng-model="game.name">
            </div>
            <div class="form-group">
                <label for="gameName">Game</label>
                <select  class="form-control" ng-model="game.game">
                    <option ng-repeat="game in games" value="{{game}}">{{game}}</option>
                </select>
            </div>
            <div class="form-group">
                <h4 class="heading-with-btn">Player Information</h4>
                <button type="button" class="btn btn-default btn-sm" ng-click="addPlayerToGame()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Ranking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gplayer in game.players">
                            <td>
                                <select class="form-control" ng-model="gplayer.name">
                                    <option ng-repeat="p in players" value="{{p.name}}">{{p.name}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="Points" ng-model="gplayer.points">
                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="Ranking" ng-model="gplayer.ranking">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button ng-if="formType == 'add'" type="submit" class="btn btn-default" ng-click="">Submit</button>
            <button ng-if="formType == 'edit'" type="submit" class="btn btn-default" ng-click="">Modify</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current Players</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <!-- <th>Picture</th> -->
                    <th>Modify/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | orderBy:'name'">
                    <td style="width:65%">
                        {{player.name}}
                    </td>
                    <!-- <td>
                        <img style='display:block; width:100px;height:100px;' id='base64image' src="{{player.img}}">
                    </td> -->
                    <td style="width:35%">
                        <button type="button" class="btn btn-default btn-sm" ng-click="addStats(player)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Player Statitics
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="modifyPlayer(player)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="deletePlayer(player)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
