<div class="jumbotron text-center">
    <h1>Sushi Go Champions</h1>

    <p>{{ tagline }}</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Top Players</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3" ng-repeat="player in players">
                <div class="thumbnail format">
                    <img class="photo" src="{{player.img}}" alt="Player Profile Image">
                    <div class="playerName">
                        <h3>{{player.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
