.heading-with-btn {
  display: inline-block; }

label {
  font-weight: 700; }

.nav {
  background-color: #009688;
  font-size: 0;
  padding: 0; }
  .nav .nav-tab {
    display: inline-block;
    padding: 10px; }
    .nav .nav-tab .nav-tab-block {
      background-color: transparent;
      color: white;
      font: bold 14px "Arial";
      text-decoration: none; }
      .nav .nav-tab .nav-tab-block:hover {
        color: black; }
  .nav .active {
    background-color: gray; }

.nav-content {
  background-color: #d6d6d6;
  padding: 1em; }
