.form__group {
    margin: 1em 0;
}

label {
    display: block;
    font-weight: 700;
}

.form__control {
    border: 1px solid $color-grey;
    border-radius: $radius;
    color: $color-black;
    font: inherit;
    padding: 0.25em;
}
