.grid__row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    width: 100%;
}

    .grid__row--top {
        align-items: flex-start;
    }

    .grid__row--middle {
        align-items: center;
    }

    .grid__row--bottom {
        align-items: flex-end;
    }

    .grid__row--reverse {
        flex-direction: row-reverse;
    }

.grid__col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

@for $i from 1 through 12 {
    .grid__col--#{$i} {
        flex: 0 0 auto;
        flex-basis: 100% / (12 / $i);
        max-width: 100% / (12 / $i);

        @include breakpoint(small) {
            flex-basis: 100%;
            max-width: none;
        }
    }
}

@for $i from 1 through 11 {
    .grid__col--offset-#{$i} {
        margin-left: 100% / (12 / $i);
    }
}
