// --- Fonts ---
$fonts: 'Roboto', 'Arial', sans-serif;

// --- Colors ---
$color-black:   #1e1e1e;
$color-grey:    #eee;
$color-white:   #fff;
$color-teal:    #009688;
$color-blue:    #1571e2;
$color-magenta: #a513a5;
