.header {
  background: $color-grey-100;
  margin-bottom: 5em;

  @include breakpoint(mobile) {
    text-align: center;
  }

  .grid__row {
    min-height: 6em;
  }
}

.header__title {
  font-weight: 300;
  margin: 0.5rem 0;
  position: absolute;

  @include breakpoint(mobile) {
    position: static;
    text-align: center;
  }

  a {
    background: url('/img/logo.svg') no-repeat center center / contain;
    display: block;
    font-size: 0;
    height: 9rem;
    text-decoration: none;
    width: 9rem;

    @include breakpoint(mobile) {
      display: inline-block;
    }
  }
}

.header__nav {
  font-weight: 700;
  text-align: right;

  @include breakpoint(mobile) {
    text-align: center;
  }
}

  .header__nav__item {
    color: $color-black;
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0;
    text-decoration: none;
  }

  .header__nav__item:hover,
  .header__nav__item--active {
    border-bottom: 3px solid $color-teal;
    color: $color-teal;
  }
