.header {
  background: $color-grey-100;
  margin-bottom: 5em;

  @include breakpoint(mobile) {
    text-align: center;
  }

  .grid__row {
    min-height: 6em;
  }
}

.header__title {
  font-family: $fonts-logo;
  text-transform: uppercase;

  a {
    color: $color-teal;
    text-decoration: none;
  }
}

.header__nav {
  font-weight: 700;
  text-align: right;

  @include breakpoint(mobile) {
    text-align: center;
  }
}

  .header__nav__item {
    color: $color-black;
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0;
    text-decoration: none;
  }

  .header__nav__item:hover,
  .header__nav__item--active {
    border-bottom: 3px solid $color-teal;
    color: $color-teal;
  }
