body {
  display: flex;
  flex-flow: column;
}

.content {
  flex-grow: 1;
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
  width: 100%;
}

.page_title {
  background-color: $color-red;
  color: $color-white-pure;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.35em 0.5em;
}
