// Fonts
$fonts: 'Roboto', 'Arial', sans-serif;

// Dimensions
$radius: 4px;

// Colors
$color-white:    #fff;
$color-grey-100: #eee;
$color-grey-200: #bbb;
$color-grey-300: #aaa;
$color-grey-400: #999;
$color-grey-500: #777;
$color-grey-600: #555;
$color-grey-700: #333;
$color-black:    #1e1e1e;

$color-teal:     #009688;
$color-blue:     #1571e2;
$color-magenta:  #a513a5;

// Responsive layout breakpoints
$breakpoints: (
  'tiny'   : (max-width: 320px),
  'small'  : (max-width: 480px),
  'mobile' : (max-width: 768px),
  'medium' : (max-width: 1024px),
  'large'  : (max-width: 1200px)
);
